// CSS Style Guide: http://codeguide.co/#css


$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';

$variables = base $scheme;


// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable;
for $inject_variable in hexo-config('injects.variable')
  @import $inject_variable;

// Mixins Layer
// --------------------------------------------------
@import "_mixins.styl";
for $inject_mixin in hexo-config('injects.mixin')
  @import $inject_mixin;

// Dark mode colors
// --------------------------------------------------
@import "_colors.styl";

// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;


// Custom Layer
// --------------------------------------------------
for $inject_style in hexo-config('injects.style')
  @import $inject_style;

// 主页文章添加阴影效果
.content {
//  margin-top: 60px;
  // margin-bottom: 60px;
  padding: 25px;
  box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}


// // 分类&&标签 页面样式
// .post-block.page {
//     margin-top: 40px;
// }
// // 分类页面page
// .category-all-page {
//     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
//     background-color: #797D7F;
//     padding: 20px 30px 60px 30px;
//     border-radius: 25px 25px 25px 25px;
// }
// .category-all-title {
//     font-family: Impact;
//     font-size: 24px;
//     color: aqua;
// }
// .category-list {
//     overflow: auto;
// }
// .category-list li {
//     height: 100%;
//     float: left;
//     border-right: 3px solid #222;
//     padding: 0 20px;
// }
// .category-all ul li {
//     list-style: none!important;
// }
// .category-list li:last-child {
//     border-right: none;
// }
// .category-list li a {
//     font-size: 16px;
//     text-decoration: none;
//     color: chartreuse;
//     font-family: Helvetica, Verdana, sans-serif;
//     // text-transform: uppercase;
//     -webkit-transition: all 0.5s ease;
//     -moz-transition: all 0.5s ease;
//     -o-transition: all 0.5s ease;
//     -ms-transition: all 0.5s ease;
//     transition: all 0.5s ease;
// }
// .category-list li a:hover {
//     color: black;
// }
// .category-list li.active a {
//     font-weight: bold;
//     color: black;
// }

